.circle-wrapper {
  padding: var(--spacing-m) 0;
}

#radar{
  position: absolute;
  width: 700px;
  /* height: 700px; */
  margin: 25px 0 0 -350px;
  @media only screen and (max-width: 768px) {
    width: 600px;
    margin: 55px 0 0 -300px;
  }
  @media only screen and (max-width: 600px) {
    width: 500px;
    margin: 40px 0 0 -250px;
  }
  @media only screen and (max-width: 480px) {
    width: 400px;
    margin: 30px 0 0 -200px;
  }
}



.circle-container {
  margin: 8rem auto;
  @include on-circle($item-count: 12, $circle-size: 45vw, $item-size: 3rem, $item-translate: 1.2);
  font-family: 'Montserrat', sans-serif;
  li {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;  
    label {
      display: block;
      font-size: 0.7rem;
      text-transform: uppercase;
      color: #000;
    }
    input {
      width: 2.5rem;
      height: 2.5rem;
      margin: 0 !important;
      color: #636363;
      font-weight: bold;
      text-align: center;
      border: 1px solid #d6dfe7;
    }
  }
  @media only screen and (min-width: 425px) {
    @include on-circle($item-count: 12, $circle-size: 50vw, $item-size: 4rem, $item-translate: 1.4);
  }
  @media only screen and (min-width: 768px) {
    @include on-circle($item-count: 12, $circle-size: 18rem, $item-size: 4rem, $item-translate: 1.5);
  }
}

#lastQuestions{
  display: flex;
  justify-content: space-around;
}

.yellow{
  color: #f4de11;
}
.questionItems{
  padding: 10px;
  text-align: center;
}

#borderYellow{
  background: #fed83d;
  width: 79px;
  height: 3px;
  align-self: flex-start;
  margin-top: 10px;
  @media only screen and (max-width: 768px) {
    display: none;
  } 
}

#borderWhite {
  background: #fff;
  width: 79px;
  height: 3px;
  align-self: flex-start;
  margin-top: 10px; }
  @media only screen and (max-width: 768px) {
    #borderYellow {
      display: none; } }
#country{
  max-width: 400px;
  height: 35px;
  border-radius: 3px;
  @media only screen and (max-width: 768px) {
    width: 100%;
  } 
}

#borderYellowCenter{
  background: #fed83d;
  width: 79px;
  height: 3px;
  align-self: center;
  margin: 15px auto;
  @media only screen and (max-width: 768px) {
    display: none;
  } 
}

.userInfoTitle{
  display: flex;
  padding: 10px;
}

#countryDropdown{
  background: #fff;
  padding: 10px;
}

#countryDropdown option{
  padding: 10px;
}

#accordion {
  color: #424242;
  font-family: 'Montserrat', sans-serif;
  .tab {
    position: relative;
    margin-bottom: var(--spacing-s);
    width: 100%;
    overflow: hidden;
  }
  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  label {
    position: relative;
    display: block;
    padding: .8rem 3rem .8rem 1rem;
    line-height: 1.2;
    cursor: pointer;
    //background: white;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    color: black;
    background: #fff;
  }
  .tab-content {
    max-height: 0;
    font-weight: 300;
    overflow: hidden;
    color: #424242;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    //background: white;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
    background: #fff;
  }
  .tab-content p {
    margin: 1em;
    color: #424242;
    font-family: 'Montserrat', sans-serif;
  }
  /* :checked */
  input:checked ~ .tab-content {
    max-height: 200em;
  }
  input:checked ~ label {
    //background: var(--color-amarillo);
    //color: white;
  }
  /* Icon */
  label::after {
    position: absolute;
    font-size: 1rem;
    font-weight: 200;
    right: 2%;
    top: 30%;
    display: block;
    transition: all .35s;
  }
  input[type=radio] + label::after {
    content: "+";
  }
  input[type=radio]:checked + label::after {
    content: "-";
  }
}



@media only screen and (max-width: 1024px) {
  .halfsContainer{
    display: block!important;
  }	
  .bigHalf{
    padding: 0 50px!important;
  }
  .formTest{
    width: 100%!important;
  }
  .mobile-title{
    margin: 450px 0 0 0;
 }
 .Frontpage .showcase .halfsContainer .bigHalf .animalsImageContainer{
	height: 45vh!important;
}
} 

@media (min-width: 767px) and (max-width: 924px) {
  .mobile-title{
     margin: 450px 0 0 0;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .Frontpage .showcase .halfsContainer .smallHalf .formTest{
    padding: 30px!important;
  }
} 

