 %disabled {
  pointer-events: none;
  background-color: #dfdfdf!important;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #9f9f9f!important;
  cursor: default;
}  

%btn {
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.8rem;
	font-weight: 400;
	cursor: pointer;
	border: none;
	border-radius: 3px;
	padding:  calc(var(--spacing-m)/3) calc(var(--spacing-m)*2);
	text-transform: uppercase;
	&.disabled {
		@extend %disabled;
	}
}

%btn-gris {
	@extend %btn;
	background: var(--color-gris);
	color: white;
	&:hover {
		background: var(--color-amarillo);
    color: white;
	}
}

%btn-amarillo {
	@extend %btn;
	background: var(--color-amarillo);
	color: white;
	&:hover {
		background: var(--color-gris);
		color: white;
	}
}

%animales {
	.cisne {
    &:before {
      background: url('../images/animales/cisne.png') center / contain no-repeat;
    }
  }
  .halcon {
    &:before {
      background: url('../images/animales/halcon.png') center / contain no-repeat;
    }
  }
  .serpiente {
    &:before {
      background: url('../images/animales/serpiente.png') center / contain no-repeat;
    }
  }
  .jaguar {
    &:before {
      background: url('../images/animales/jaguar.png') center / contain no-repeat;
    }
  }
  .dragon {
    &:before {
      background: url('../images/animales/dragon.png') center / contain no-repeat;
    }
  }
  .condor {
    &:before {
      background: url('../images/animales/condor.png') center / contain no-repeat;
    }
  }
  .ballena {
    &:before {
      background: url('../images/animales/ballena.png') center / contain no-repeat;
    }
  }
  .oso {
    &:before {
      background: url('../images/animales/oso.png') center / contain no-repeat;
    }

  }
  .buho {
    &:before {
      background: url('../images/animales/buho.png') center / contain no-repeat;
    }

  }
  .leon  {
    &:before {
      background: url('../images/animales/leon.png') center / contain no-repeat;
    }
  }
  .caballo {
    &:before {
      background: url('../images/animales/caballo.png') center / contain no-repeat;
    }
  }
  .colibri {
    &:before {
      background: url('../images/animales/colibri.png') center / contain no-repeat;
    }
  }
}


%animales-circulo {
  li:before {
    white-space: nowrap;
  }
	.cisne {
    &:before {
      content: 'Visible'
    }
  }
  .halcon {
    &:before {
      content: 'Estrategico'
    }      
  }
  .serpiente {
    &:before {
      content: 'Vital'
    }      
  }
  .jaguar {
    &:before {
      content: 'Emocional'
    }      
  }
  .dragon {
    &:before {
      content: 'Intuitivo'
    }      
  }
  .condor {
    &:before {
      content: 'Eficiente'
    }      
  }
  .ballena {
    &:before {
      content: 'Comunitario'
    }      
  }
  .oso {
    &:before {
      content: 'Estructurado'
    }      
  }
  .buho {
    &:before {
      content: 'Paciente'
    }      
  }
  .leon  {
    &:before {
      content: 'Comprometido'
    }      
  }
  .caballo {
    &:before {
      content: 'Asertivo'
    }      
  }
  .colibri {
    &:before {
      content: 'Ludico'
    }    
  }

//Words in english!
  .cisneEn {
    &:before {
      content: 'visible'
    }
  }
  .halconEn {
    &:before {
      content: 'strategic'
    }      
  }
  .serpienteEn {
    &:before {
      content: 'vital'
    }      
  }
  .jaguarEn {
    &:before {
      content: 'emotional'
    }      
  }
  .dragonEn {
    &:before {
      content: 'intuitive'
    }      
  }
  .condorEn {
    &:before {
      content: 'efficient'
    }      
  }
  .ballenaEn {
    &:before {
      content: 'communitarian'
    }      
  }
  .osoEn {
    &:before {
      content: 'structured'
    }      
  }
  .buhoEn {
    &:before {
      content: 'patient'
    }      
  }
  .leonEn  {
    &:before {
      content: 'committed'
    }      
  }
  .caballoEn {
    &:before {
      content: 'assertive'
    }      
  }
  .colibriEn {
    &:before {
      content: 'Ludic'
    }    
  }
}

