body {
  font-family: 'Montserrat', sans-serif;
  color: #424242;
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
.center{
    display: flex;
    justify-content: center;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: -2px;
  color: black;
}
a {
  text-decoration: none;
}
button {
  font-family: 'Montserrat', sans-serif;
  font-size: inherit !important;
}
table {
  font-size: inherit;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: var(--spacing-xl) var(--spacing-s);
  @media only screen and (min-width: 768px) {
    padding: var(--spacing-s) 0;
  }
}
.btn-gris {
  @extend %btn-amarillo;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
    font-style: normal;
    font-weight: 700;
    font-family: Montserrat,sans-serif;
    line-height: 1.6em;
    text-transform: uppercase;
    letter-spacing: .5px;
    color: white;
}
.btn-amarillo {
  @extend %btn-gris;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
    font-style: normal;
    font-weight: 700;
    font-family: Montserrat,sans-serif;
    line-height: 1.6em;
    text-transform: uppercase;
    letter-spacing: .5px;
    color: white;
}
.numero {
    font-family: 'Libre Baskerville', serif;
}

#navbar{
    display: flex;
    // position: fixed;
    z-index: 999;
    background:#fff;
    color:#424242;
    box-shadow:none;
    margin: 0 0 0 0;
    width: 100%;
    // background: #fff;
    // opacity: .1;
    h1{
      display: flex;
      flex: 1;
      align-self: center;
      padding-right: 20px;
      margin: 10px 0px 0 15px;
      padding-bottom: 10px;
      cursor: pointer;
      color: #424242;
      transition: all .5s ease-in-out; 
      &:hover {
        color: #F4DE11;
        // transform: scale(1.5);
      }
    }
    span{
      display: flex;
      flex: 1;
      justify-content: flex-end;
      align-self: center;
      padding-right: 20px;
      font-size: 18px;
      font-weight: 700;
      cursor: pointer;
      a{
        padding: 0 10px 0 10px;
        transition: all .5s ease-in-out; 
        &:hover {
          color: #F4DE11;
          // transform: scale(1.5);
        }
      }
      b{
        font-size: 30px;
      }
      // color: white;
    }
}
