:root {
  --color-amarillo: #f4de11;
  --color-gris: #424242;
  --color-verde: #4CAF50;
  --spacing-s: 1.2rem;
	--spacing-m: 1.6rem;
	--spacing-l: 3.2rem;
	--spacing-xl: 4.8rem;
	--mobile-s: 320px;
	--mobile-m: 375px;
	--mobile-l: 425px;
	--tablet: 768px;
}
