@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Montserrat:300,400,500,700|Roboto:300,400,700|Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Montserrat:300,400,500,700|Roboto:300,400,700|Material+Icons");
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

progress {
  vertical-align: baseline; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active,
a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit;
  font-weight: bolder; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: 700; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button; }

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: .54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll; }

* {
  box-sizing: inherit; }

*:before {
  box-sizing: inherit; }

*:after {
  box-sizing: inherit; }

body {
  color: rgba(0, 0, 0, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt"; }

img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0; }

h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1; }

h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 32px;
  line-height: 1.1; }

h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1; }

h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1; }

h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1; }

h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1; }

hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none; }

ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none; }

dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem; }

table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%; }

fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: rgba(0, 0, 0, 0.2);
  border: none;
  height: 1px; }

address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

b {
  font-weight: bold; }

strong {
  font-weight: bold; }

dt {
  font-weight: bold; }

th {
  font-weight: bold; }

li {
  margin-bottom: calc(1.45rem / 2); }

ol li {
  padding-left: 0; }

ul li {
  padding-left: 0; }

li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2); }

li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2); }

blockquote *:last-child {
  margin-bottom: 0; }

li *:last-child {
  margin-bottom: 0; }

p *:last-child {
  margin-bottom: 0; }

li > p {
  margin-bottom: calc(1.45rem / 2); }

code {
  font-size: 0.85rem;
  line-height: 1.45rem; }

kbd {
  font-size: 0.85rem;
  line-height: 1.45rem; }

samp {
  font-size: 0.85rem;
  line-height: 1.45rem; }

abbr {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
  cursor: help; }

acronym {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
  cursor: help; }

abbr[title] {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
  cursor: help;
  text-decoration: none; }

thead {
  text-align: left; }

td,
th {
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px); }

th:first-child,
td:first-child {
  padding-left: 0; }

th:last-child,
td:last-child {
  padding-right: 0; }

tt,
code {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono", "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em; }

pre code {
  background: none;
  line-height: 1.42; }

code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " "; }

pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: ""; }

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%; } }

:root {
  --color-amarillo: #f4de11;
  --color-gris: #424242;
  --color-verde: #4CAF50;
  --spacing-s: 1.2rem;
  --spacing-m: 1.6rem;
  --spacing-l: 3.2rem;
  --spacing-xl: 4.8rem;
  --mobile-s: 320px;
  --mobile-m: 375px;
  --mobile-l: 425px;
  --tablet: 768px; }

.disabled.btn-amarillo, .disabled.btn-gris {
  pointer-events: none;
  background-color: #dfdfdf !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #9f9f9f !important;
  cursor: default; }

.btn-amarillo, .btn-gris {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  padding: calc(var(--spacing-m)/3) calc(var(--spacing-m)*2);
  text-transform: uppercase; }

.btn-amarillo {
  background: var(--color-gris);
  color: white; }
  .btn-amarillo:hover {
    background: var(--color-amarillo);
    color: white; }

.btn-gris {
  background: var(--color-amarillo);
  color: white; }
  .btn-gris:hover {
    background: var(--color-gris);
    color: white; }

.circle-wrapper {
  padding: var(--spacing-m) 0; }

#radar {
  position: absolute;
  width: 700px;
  /* height: 700px; */
  margin: 25px 0 0 -350px; }
  @media only screen and (max-width: 768px) {
    #radar {
      width: 600px;
      margin: 55px 0 0 -300px; } }
  @media only screen and (max-width: 600px) {
    #radar {
      width: 500px;
      margin: 40px 0 0 -250px; } }
  @media only screen and (max-width: 480px) {
    #radar {
      width: 400px;
      margin: 30px 0 0 -200px; } }

.circle-container {
  margin: 8rem auto;
  position: relative;
  width: 45vw;
  height: 45vw;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  font-family: 'Montserrat', sans-serif; }
  .circle-container > * {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3rem;
    height: 3rem;
    margin: -1.5rem; }
    .circle-container > *:nth-of-type(1) {
      transform: rotate(270deg) translate(37.5vw) rotate(-270deg); }
    .circle-container > *:nth-of-type(2) {
      transform: rotate(300deg) translate(37.5vw) rotate(-300deg); }
    .circle-container > *:nth-of-type(3) {
      transform: rotate(330deg) translate(37.5vw) rotate(-330deg); }
    .circle-container > *:nth-of-type(4) {
      transform: rotate(360deg) translate(37.5vw) rotate(-360deg); }
    .circle-container > *:nth-of-type(5) {
      transform: rotate(390deg) translate(37.5vw) rotate(-390deg); }
    .circle-container > *:nth-of-type(6) {
      transform: rotate(420deg) translate(37.5vw) rotate(-420deg); }
    .circle-container > *:nth-of-type(7) {
      transform: rotate(450deg) translate(37.5vw) rotate(-450deg); }
    .circle-container > *:nth-of-type(8) {
      transform: rotate(480deg) translate(37.5vw) rotate(-480deg); }
    .circle-container > *:nth-of-type(9) {
      transform: rotate(510deg) translate(37.5vw) rotate(-510deg); }
    .circle-container > *:nth-of-type(10) {
      transform: rotate(540deg) translate(37.5vw) rotate(-540deg); }
    .circle-container > *:nth-of-type(11) {
      transform: rotate(570deg) translate(37.5vw) rotate(-570deg); }
    .circle-container > *:nth-of-type(12) {
      transform: rotate(600deg) translate(37.5vw) rotate(-600deg); }
  .circle-container li {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center; }
    .circle-container li label {
      display: block;
      font-size: 0.7rem;
      text-transform: uppercase;
      color: #000; }
    .circle-container li input {
      width: 2.5rem;
      height: 2.5rem;
      margin: 0 !important;
      color: #636363;
      font-weight: bold;
      text-align: center;
      border: 1px solid #d6dfe7; }
  @media only screen and (min-width: 425px) {
    .circle-container {
      position: relative;
      width: 50vw;
      height: 50vw;
      padding: 0;
      border-radius: 50%;
      list-style: none; }
      .circle-container > * {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 4rem;
        height: 4rem;
        margin: -2rem; }
        .circle-container > *:nth-of-type(1) {
          transform: rotate(270deg) translate(35.71429vw) rotate(-270deg); }
        .circle-container > *:nth-of-type(2) {
          transform: rotate(300deg) translate(35.71429vw) rotate(-300deg); }
        .circle-container > *:nth-of-type(3) {
          transform: rotate(330deg) translate(35.71429vw) rotate(-330deg); }
        .circle-container > *:nth-of-type(4) {
          transform: rotate(360deg) translate(35.71429vw) rotate(-360deg); }
        .circle-container > *:nth-of-type(5) {
          transform: rotate(390deg) translate(35.71429vw) rotate(-390deg); }
        .circle-container > *:nth-of-type(6) {
          transform: rotate(420deg) translate(35.71429vw) rotate(-420deg); }
        .circle-container > *:nth-of-type(7) {
          transform: rotate(450deg) translate(35.71429vw) rotate(-450deg); }
        .circle-container > *:nth-of-type(8) {
          transform: rotate(480deg) translate(35.71429vw) rotate(-480deg); }
        .circle-container > *:nth-of-type(9) {
          transform: rotate(510deg) translate(35.71429vw) rotate(-510deg); }
        .circle-container > *:nth-of-type(10) {
          transform: rotate(540deg) translate(35.71429vw) rotate(-540deg); }
        .circle-container > *:nth-of-type(11) {
          transform: rotate(570deg) translate(35.71429vw) rotate(-570deg); }
        .circle-container > *:nth-of-type(12) {
          transform: rotate(600deg) translate(35.71429vw) rotate(-600deg); } }
  @media only screen and (min-width: 768px) {
    .circle-container {
      position: relative;
      width: 18rem;
      height: 18rem;
      padding: 0;
      border-radius: 50%;
      list-style: none; }
      .circle-container > * {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 4rem;
        height: 4rem;
        margin: -2rem; }
        .circle-container > *:nth-of-type(1) {
          transform: rotate(270deg) translate(12rem) rotate(-270deg); }
        .circle-container > *:nth-of-type(2) {
          transform: rotate(300deg) translate(12rem) rotate(-300deg); }
        .circle-container > *:nth-of-type(3) {
          transform: rotate(330deg) translate(12rem) rotate(-330deg); }
        .circle-container > *:nth-of-type(4) {
          transform: rotate(360deg) translate(12rem) rotate(-360deg); }
        .circle-container > *:nth-of-type(5) {
          transform: rotate(390deg) translate(12rem) rotate(-390deg); }
        .circle-container > *:nth-of-type(6) {
          transform: rotate(420deg) translate(12rem) rotate(-420deg); }
        .circle-container > *:nth-of-type(7) {
          transform: rotate(450deg) translate(12rem) rotate(-450deg); }
        .circle-container > *:nth-of-type(8) {
          transform: rotate(480deg) translate(12rem) rotate(-480deg); }
        .circle-container > *:nth-of-type(9) {
          transform: rotate(510deg) translate(12rem) rotate(-510deg); }
        .circle-container > *:nth-of-type(10) {
          transform: rotate(540deg) translate(12rem) rotate(-540deg); }
        .circle-container > *:nth-of-type(11) {
          transform: rotate(570deg) translate(12rem) rotate(-570deg); }
        .circle-container > *:nth-of-type(12) {
          transform: rotate(600deg) translate(12rem) rotate(-600deg); } }

#lastQuestions {
  display: flex;
  justify-content: space-around; }

.yellow {
  color: #f4de11; }

.questionItems {
  padding: 10px;
  text-align: center; }

#borderYellow {
  background: #fed83d;
  width: 79px;
  height: 3px;
  align-self: flex-start;
  margin-top: 10px; }
  @media only screen and (max-width: 768px) {
    #borderYellow {
      display: none; } }

#borderWhite {
  background: #fff;
  width: 79px;
  height: 3px;
  align-self: flex-start;
  margin-top: 10px; }

@media only screen and (max-width: 768px) {
  #borderYellow {
    display: none; } }

#country {
  max-width: 400px;
  height: 35px;
  border-radius: 3px; }
  @media only screen and (max-width: 768px) {
    #country {
      width: 100%; } }

#borderYellowCenter {
  background: #fed83d;
  width: 79px;
  height: 3px;
  align-self: center;
  margin: 15px auto; }
  @media only screen and (max-width: 768px) {
    #borderYellowCenter {
      display: none; } }

.userInfoTitle {
  display: flex;
  padding: 10px; }

#countryDropdown {
  background: #fff;
  padding: 10px; }

#countryDropdown option {
  padding: 10px; }

#accordion {
  color: #424242;
  font-family: 'Montserrat', sans-serif;
  /* :checked */
  /* Icon */ }
  #accordion .tab {
    position: relative;
    margin-bottom: var(--spacing-s);
    width: 100%;
    overflow: hidden; }
  #accordion input {
    position: absolute;
    opacity: 0;
    z-index: -1; }
  #accordion label {
    position: relative;
    display: block;
    padding: .8rem 3rem .8rem 1rem;
    line-height: 1.2;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    color: black;
    background: #fff; }
  #accordion .tab-content {
    max-height: 0;
    font-weight: 300;
    overflow: hidden;
    color: #424242;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
    background: #fff; }
  #accordion .tab-content p {
    margin: 1em;
    color: #424242;
    font-family: 'Montserrat', sans-serif; }
  #accordion input:checked ~ .tab-content {
    max-height: 200em; }
  #accordion label::after {
    position: absolute;
    font-size: 1rem;
    font-weight: 200;
    right: 2%;
    top: 30%;
    display: block;
    transition: all .35s; }
  #accordion input[type=radio] + label::after {
    content: "+"; }
  #accordion input[type=radio]:checked + label::after {
    content: "-"; }

@media only screen and (max-width: 1024px) {
  .halfsContainer {
    display: block !important; }
  .bigHalf {
    padding: 0 50px !important; }
  .formTest {
    width: 100% !important; }
  .mobile-title {
    margin: 450px 0 0 0; }
  .Frontpage .showcase .halfsContainer .bigHalf .animalsImageContainer {
    height: 45vh !important; } }

@media (min-width: 767px) and (max-width: 924px) {
  .mobile-title {
    margin: 450px 0 0 0; } }

@media (min-width: 1025px) and (max-width: 1280px) {
  .Frontpage .showcase .halfsContainer .smallHalf .formTest {
    padding: 30px !important; } }

body {
  font-family: 'Montserrat', sans-serif;
  color: #424242;
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased; }

.center {
  display: flex;
  justify-content: center; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: -2px;
  color: black; }

a {
  text-decoration: none; }

button {
  font-family: 'Montserrat', sans-serif;
  font-size: inherit !important; }

table {
  font-size: inherit; }

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: var(--spacing-xl) var(--spacing-s); }
  @media only screen and (min-width: 768px) {
    .container {
      padding: var(--spacing-s) 0; } }

.btn-gris {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  font-family: Montserrat,sans-serif;
  line-height: 1.6em;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: white; }

.btn-amarillo {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  font-family: Montserrat,sans-serif;
  line-height: 1.6em;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: white; }

.numero {
  font-family: 'Libre Baskerville', serif; }

#navbar {
  display: flex;
  z-index: 999;
  background: #fff;
  color: #424242;
  box-shadow: none;
  margin: 0 0 0 0;
  width: 100%; }
  #navbar h1 {
    display: flex;
    flex: 1;
    align-self: center;
    padding-right: 20px;
    margin: 10px 0px 0 15px;
    padding-bottom: 10px;
    cursor: pointer;
    color: #424242;
    transition: all .5s ease-in-out; }
    #navbar h1:hover {
      color: #F4DE11; }
  #navbar span {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-self: center;
    padding-right: 20px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer; }
    #navbar span a {
      padding: 0 10px 0 10px;
      transition: all .5s ease-in-out; }
      #navbar span a:hover {
        color: #F4DE11; }
    #navbar span b {
      font-size: 30px; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

progress {
  vertical-align: baseline; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active,
a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit;
  font-weight: bolder; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: 700; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button; }

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: .54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll; }

* {
  box-sizing: inherit; }

*:before {
  box-sizing: inherit; }

*:after {
  box-sizing: inherit; }

body {
  color: rgba(0, 0, 0, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt"; }

img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0; }

h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1; }

h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 32px;
  line-height: 1.1; }

h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1; }

h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1; }

h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1; }

h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1; }

hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none; }

ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none; }

dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem; }

table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%; }

fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: rgba(0, 0, 0, 0.2);
  border: none;
  height: 1px; }

address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

b {
  font-weight: bold; }

strong {
  font-weight: bold; }

dt {
  font-weight: bold; }

th {
  font-weight: bold; }

li {
  margin-bottom: calc(1.45rem / 2); }

ol li {
  padding-left: 0; }

ul li {
  padding-left: 0; }

li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2); }

li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2); }

blockquote *:last-child {
  margin-bottom: 0; }

li *:last-child {
  margin-bottom: 0; }

p *:last-child {
  margin-bottom: 0; }

li > p {
  margin-bottom: calc(1.45rem / 2); }

code {
  font-size: 0.85rem;
  line-height: 1.45rem; }

kbd {
  font-size: 0.85rem;
  line-height: 1.45rem; }

samp {
  font-size: 0.85rem;
  line-height: 1.45rem; }

abbr {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
  cursor: help; }

acronym {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
  cursor: help; }

abbr[title] {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
  cursor: help;
  text-decoration: none; }

thead {
  text-align: left; }

td,
th {
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px); }

th:first-child,
td:first-child {
  padding-left: 0; }

th:last-child,
td:last-child {
  padding-right: 0; }

tt,
code {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono", "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em; }

pre code {
  background: none;
  line-height: 1.42; }

code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " "; }

pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: ""; }

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%; } }

:root {
  --color-amarillo: #f4de11;
  --color-gris: #424242;
  --color-verde: #4CAF50;
  --spacing-s: 1.2rem;
  --spacing-m: 1.6rem;
  --spacing-l: 3.2rem;
  --spacing-xl: 4.8rem;
  --mobile-s: 320px;
  --mobile-m: 375px;
  --mobile-l: 425px;
  --tablet: 768px; }

.disabled.btn-amarillo, .disabled.btn-gris {
  pointer-events: none;
  background-color: #dfdfdf !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #9f9f9f !important;
  cursor: default; }

.btn-amarillo, .btn-gris {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  padding: calc(var(--spacing-m)/3) calc(var(--spacing-m)*2);
  text-transform: uppercase; }

.btn-amarillo {
  background: var(--color-gris);
  color: white; }

.btn-amarillo:hover {
  background: var(--color-amarillo);
  color: white; }

.btn-gris {
  background: var(--color-amarillo);
  color: white; }

.btn-gris:hover {
  background: var(--color-gris);
  color: white; }

.Resultados .PerfilProfesional .grid-wrapper .cisne:before, .Resultados .ArquetiposPrincipal .item .cisne:before {
  background: url("../images/animales/cisne.png") center/contain no-repeat; }

.Resultados .PerfilProfesional .grid-wrapper .halcon:before, .Resultados .ArquetiposPrincipal .item .halcon:before {
  background: url("../images/animales/halcon.png") center/contain no-repeat; }

.Resultados .PerfilProfesional .grid-wrapper .serpiente:before, .Resultados .ArquetiposPrincipal .item .serpiente:before {
  background: url("../images/animales/serpiente.png") center/contain no-repeat; }

.Resultados .PerfilProfesional .grid-wrapper .jaguar:before, .Resultados .ArquetiposPrincipal .item .jaguar:before {
  background: url("../images/animales/jaguar.png") center/contain no-repeat; }

.Resultados .PerfilProfesional .grid-wrapper .dragon:before, .Resultados .ArquetiposPrincipal .item .dragon:before {
  background: url("../images/animales/dragon.png") center/contain no-repeat; }

.Resultados .PerfilProfesional .grid-wrapper .condor:before, .Resultados .ArquetiposPrincipal .item .condor:before {
  background: url("../images/animales/condor.png") center/contain no-repeat; }

.Resultados .PerfilProfesional .grid-wrapper .ballena:before, .Resultados .ArquetiposPrincipal .item .ballena:before {
  background: url("../images/animales/ballena.png") center/contain no-repeat; }

.Resultados .PerfilProfesional .grid-wrapper .oso:before, .Resultados .ArquetiposPrincipal .item .oso:before {
  background: url("../images/animales/oso.png") center/contain no-repeat; }

.Resultados .PerfilProfesional .grid-wrapper .buho:before, .Resultados .ArquetiposPrincipal .item .buho:before {
  background: url("../images/animales/buho.png") center/contain no-repeat; }

.Resultados .PerfilProfesional .grid-wrapper .leon:before, .Resultados .ArquetiposPrincipal .item .leon:before {
  background: url("../images/animales/leon.png") center/contain no-repeat; }

.Resultados .PerfilProfesional .grid-wrapper .caballo:before, .Resultados .ArquetiposPrincipal .item .caballo:before {
  background: url("../images/animales/caballo.png") center/contain no-repeat; }

.Resultados .PerfilProfesional .grid-wrapper .colibri:before, .Resultados .ArquetiposPrincipal .item .colibri:before {
  background: url("../images/animales/colibri.png") center/contain no-repeat; }

.Resultados .ArquetiposAnimales .resultados-animales li:before {
  white-space: nowrap; }

.Resultados .ArquetiposAnimales .resultados-animales .cisne:before {
  content: 'Visible'; }

.Resultados .ArquetiposAnimales .resultados-animales .halcon:before {
  content: 'Estrategico'; }

.Resultados .ArquetiposAnimales .resultados-animales .serpiente:before {
  content: 'Vital'; }

.Resultados .ArquetiposAnimales .resultados-animales .jaguar:before {
  content: 'Emocional'; }

.Resultados .ArquetiposAnimales .resultados-animales .dragon:before {
  content: 'Intuitivo'; }

.Resultados .ArquetiposAnimales .resultados-animales .condor:before {
  content: 'Eficiente'; }

.Resultados .ArquetiposAnimales .resultados-animales .ballena:before {
  content: 'Comunitario'; }

.Resultados .ArquetiposAnimales .resultados-animales .oso:before {
  content: 'Estructurado'; }

.Resultados .ArquetiposAnimales .resultados-animales .buho:before {
  content: 'Paciente'; }

.Resultados .ArquetiposAnimales .resultados-animales .leon:before {
  content: 'Comprometido'; }

.Resultados .ArquetiposAnimales .resultados-animales .caballo:before {
  content: 'Asertivo'; }

.Resultados .ArquetiposAnimales .resultados-animales .colibri:before {
  content: 'Ludico'; }

.Resultados .ArquetiposAnimales .resultados-animales .cisneEn:before {
  content: 'visible'; }

.Resultados .ArquetiposAnimales .resultados-animales .halconEn:before {
  content: 'strategic'; }

.Resultados .ArquetiposAnimales .resultados-animales .serpienteEn:before {
  content: 'vital'; }

.Resultados .ArquetiposAnimales .resultados-animales .jaguarEn:before {
  content: 'emotional'; }

.Resultados .ArquetiposAnimales .resultados-animales .dragonEn:before {
  content: 'intuitive'; }

.Resultados .ArquetiposAnimales .resultados-animales .condorEn:before {
  content: 'efficient'; }

.Resultados .ArquetiposAnimales .resultados-animales .ballenaEn:before {
  content: 'communitarian'; }

.Resultados .ArquetiposAnimales .resultados-animales .osoEn:before {
  content: 'structured'; }

.Resultados .ArquetiposAnimales .resultados-animales .buhoEn:before {
  content: 'patient'; }

.Resultados .ArquetiposAnimales .resultados-animales .leonEn:before {
  content: 'committed'; }

.Resultados .ArquetiposAnimales .resultados-animales .caballoEn:before {
  content: 'assertive'; }

.Resultados .ArquetiposAnimales .resultados-animales .colibriEn:before {
  content: 'Ludic'; }

.circle-wrapper {
  padding: var(--spacing-m) 0; }

#radar {
  position: absolute;
  width: 700px;
  /* height: 700px; */
  margin: 25px 0 0 -350px; }

@media only screen and (max-width: 768px) {
  #radar {
    width: 600px;
    margin: 55px 0 0 -300px; } }

@media only screen and (max-width: 600px) {
  #radar {
    width: 500px;
    margin: 40px 0 0 -250px; } }

@media only screen and (max-width: 480px) {
  #radar {
    width: 400px;
    margin: 30px 0 0 -200px; } }

.circle-container {
  margin: 8rem auto;
  position: relative;
  width: 45vw;
  height: 45vw;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  font-family: 'Montserrat', sans-serif; }

.circle-container > * {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3rem;
  height: 3rem;
  margin: -1.5rem; }

.circle-container > *:nth-of-type(1) {
  transform: rotate(270deg) translate(37.5vw) rotate(-270deg); }

.circle-container > *:nth-of-type(2) {
  transform: rotate(300deg) translate(37.5vw) rotate(-300deg); }

.circle-container > *:nth-of-type(3) {
  transform: rotate(330deg) translate(37.5vw) rotate(-330deg); }

.circle-container > *:nth-of-type(4) {
  transform: rotate(360deg) translate(37.5vw) rotate(-360deg); }

.circle-container > *:nth-of-type(5) {
  transform: rotate(390deg) translate(37.5vw) rotate(-390deg); }

.circle-container > *:nth-of-type(6) {
  transform: rotate(420deg) translate(37.5vw) rotate(-420deg); }

.circle-container > *:nth-of-type(7) {
  transform: rotate(450deg) translate(37.5vw) rotate(-450deg); }

.circle-container > *:nth-of-type(8) {
  transform: rotate(480deg) translate(37.5vw) rotate(-480deg); }

.circle-container > *:nth-of-type(9) {
  transform: rotate(510deg) translate(37.5vw) rotate(-510deg); }

.circle-container > *:nth-of-type(10) {
  transform: rotate(540deg) translate(37.5vw) rotate(-540deg); }

.circle-container > *:nth-of-type(11) {
  transform: rotate(570deg) translate(37.5vw) rotate(-570deg); }

.circle-container > *:nth-of-type(12) {
  transform: rotate(600deg) translate(37.5vw) rotate(-600deg); }

.cisneNewCircle span {
  margin: 0 25px; }

.halconNewCircle span {
  margin: 20px 24px; }

.serpienteNewCircle span {
  margin: 25px -30px; }

.jaguarNewCircle span {
  margin: 75px -140px; }

.dragonNewCircle span {
  margin: 0 -320px; }

.condorNewCircle span {
  margin: 0 -317px; }

.ballenaNewCircle span {
  margin: 0 -320px; }

.osoNewCircle span {
  margin: 0 -280px; }

.buhoNewCircle span {
  margin: 0 -325px; }

.leonNewCircle span {
  margin: -80px 0 0 -140px; }

.caballoNewCircle span {
  margin: -50px 30px; }

.circle-container li {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center; }

.circle-container li label {
  display: block;
  font-size: 0.7rem;
  text-transform: uppercase;
  color: #000; }

.circle-container li input {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 !important;
  color: #636363;
  font-weight: bold;
  text-align: center;
  border: 1px solid #d6dfe7; }

@media only screen and (min-width: 425px) {
  .circle-container {
    position: relative;
    width: 50vw;
    height: 50vw;
    padding: 0;
    border-radius: 50%;
    list-style: none; }
  .circle-container > * {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4rem;
    height: 4rem;
    margin: -2rem; }
  .circle-container > *:nth-of-type(1) {
    transform: rotate(270deg) translate(35.71429vw) rotate(-270deg); }
  .circle-container > *:nth-of-type(2) {
    transform: rotate(300deg) translate(35.71429vw) rotate(-300deg); }
  .circle-container > *:nth-of-type(3) {
    transform: rotate(330deg) translate(35.71429vw) rotate(-330deg); }
  .circle-container > *:nth-of-type(4) {
    transform: rotate(360deg) translate(35.71429vw) rotate(-360deg); }
  .circle-container > *:nth-of-type(5) {
    transform: rotate(390deg) translate(35.71429vw) rotate(-390deg); }
  .circle-container > *:nth-of-type(6) {
    transform: rotate(420deg) translate(35.71429vw) rotate(-420deg); }
  .circle-container > *:nth-of-type(7) {
    transform: rotate(450deg) translate(35.71429vw) rotate(-450deg); }
  .circle-container > *:nth-of-type(8) {
    transform: rotate(480deg) translate(35.71429vw) rotate(-480deg); }
  .circle-container > *:nth-of-type(9) {
    transform: rotate(510deg) translate(35.71429vw) rotate(-510deg); }
  .circle-container > *:nth-of-type(10) {
    transform: rotate(540deg) translate(35.71429vw) rotate(-540deg); }
  .circle-container > *:nth-of-type(11) {
    transform: rotate(570deg) translate(35.71429vw) rotate(-570deg); }
  .circle-container > *:nth-of-type(12) {
    transform: rotate(600deg) translate(35.71429vw) rotate(-600deg); } }

@media only screen and (min-width: 768px) {
  .circle-container {
    position: relative;
    width: 18rem;
    height: 18rem;
    padding: 0;
    border-radius: 50%;
    list-style: none; }
  .circle-container > * {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4rem;
    height: 4rem;
    margin: -2rem; }
  .circle-container > *:nth-of-type(1) {
    transform: rotate(270deg) translate(12rem) rotate(-270deg); }
  .circle-container > *:nth-of-type(2) {
    transform: rotate(300deg) translate(12rem) rotate(-300deg); }
  .circle-container > *:nth-of-type(3) {
    transform: rotate(330deg) translate(12rem) rotate(-330deg); }
  .circle-container > *:nth-of-type(4) {
    transform: rotate(360deg) translate(12rem) rotate(-360deg); }
  .circle-container > *:nth-of-type(5) {
    transform: rotate(390deg) translate(12rem) rotate(-390deg); }
  .circle-container > *:nth-of-type(6) {
    transform: rotate(420deg) translate(12rem) rotate(-420deg); }
  .circle-container > *:nth-of-type(7) {
    transform: rotate(450deg) translate(12rem) rotate(-450deg); }
  .circle-container > *:nth-of-type(8) {
    transform: rotate(480deg) translate(12rem) rotate(-480deg); }
  .circle-container > *:nth-of-type(9) {
    transform: rotate(510deg) translate(12rem) rotate(-510deg); }
  .circle-container > *:nth-of-type(10) {
    transform: rotate(540deg) translate(12rem) rotate(-540deg); }
  .circle-container > *:nth-of-type(11) {
    transform: rotate(570deg) translate(12rem) rotate(-570deg); }
  .circle-container > *:nth-of-type(12) {
    transform: rotate(600deg) translate(12rem) rotate(-600deg); } }

#lastQuestions {
  display: flex;
  justify-content: space-around; }

.yellow {
  color: #f4de11; }

.questionItems {
  padding: 10px;
  text-align: center; }

#borderYellow {
  background: #fed83d;
  width: 79px;
  height: 3px;
  align-self: flex-start;
  margin-top: 10px; }

@media only screen and (max-width: 768px) {
  #borderYellow {
    display: none; } }

#borderWhite {
  background: #fff;
  width: 79px;
  height: 3px;
  align-self: flex-start;
  margin-top: 10px; }

@media only screen and (max-width: 768px) {
  #borderYellow {
    display: none; } }

#country {
  max-width: 400px;
  height: 35px;
  border-radius: 3px; }

@media only screen and (max-width: 768px) {
  #country {
    width: 100%; } }

#borderYellowCenter {
  background: #fed83d;
  width: 79px;
  height: 3px;
  align-self: center;
  margin: 15px auto; }

@media only screen and (max-width: 768px) {
  #borderYellowCenter {
    display: none; } }

.userInfoTitle {
  display: flex;
  padding: 10px; }

#countryDropdown {
  background: #fff;
  padding: 10px; }

#countryDropdown option {
  padding: 10px; }

#accordion {
  color: #424242;
  font-family: 'Montserrat', sans-serif;
  /* :checked */
  /* Icon */ }

#accordion .tab {
  position: relative;
  margin-bottom: var(--spacing-s);
  width: 100%;
  overflow: hidden; }

#accordion input {
  position: absolute;
  opacity: 0;
  z-index: -1; }

#accordion label {
  position: relative;
  display: block;
  padding: .8rem 3rem .8rem 1rem;
  line-height: 1.2;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  color: black;
  background: #fff; }

#accordion .tab-content {
  max-height: 0;
  font-weight: 300;
  overflow: hidden;
  color: #424242;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
  background: #fff; }

#accordion .tab-content p {
  margin: 1em;
  color: #424242;
  font-family: 'Montserrat', sans-serif; }

#accordion input:checked ~ .tab-content {
  max-height: 200em; }

#accordion label::after {
  position: absolute;
  font-size: 1rem;
  font-weight: 200;
  right: 2%;
  top: 30%;
  display: block;
  transition: all .35s; }

#accordion input[type=radio] + label::after {
  content: "+"; }

#accordion input[type=radio]:checked + label::after {
  content: "-"; }

body {
  font-family: 'Montserrat', sans-serif;
  color: #424242;
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased; }

.center {
  display: flex;
  justify-content: center; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: -2px;
  color: black; }

a {
  text-decoration: none; }

button {
  font-family: 'Montserrat', sans-serif;
  font-size: inherit !important; }

table {
  font-size: inherit; }

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: var(--spacing-xl) var(--spacing-s); }

@media only screen and (min-width: 768px) {
  .container {
    padding: var(--spacing-s) 0; } }

.btn-gris {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  font-family: Montserrat,sans-serif;
  line-height: 1.6em;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: white; }

.btn-amarillo {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  font-family: Montserrat,sans-serif;
  line-height: 1.6em;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: white; }

.numero {
  font-family: 'Libre Baskerville', serif; }

#navbar {
  display: flex;
  z-index: 999;
  background: #fff;
  color: #424242;
  box-shadow: none;
  margin: 0 0 0 0;
  width: 100%; }

#navbar h1 {
  display: flex;
  flex: 1;
  align-self: center;
  padding-right: 20px;
  margin: 10px 0px 0 15px;
  padding-bottom: 10px;
  cursor: pointer;
  color: #424242;
  transition: all .5s ease-in-out; }

#navbar h1:hover {
  color: #F4DE11; }

#navbar span {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-self: center;
  padding-right: 20px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer; }

#navbar span a {
  padding: 0 10px 0 10px;
  transition: all .5s ease-in-out; }

#navbar span a:hover {
  color: #F4DE11; }

#navbar span b {
  font-size: 30px; }

.Frontpage #firstTitle {
  margin-top: 80px;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -.06em;
  line-height: .833em; }

.Frontpage #subTitle {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -.06em;
  line-height: .833em; }

.Frontpage #htButton {
  margin: 10px 0 0 0; }

.Frontpage .showcase {
  background-color: #eac80e;
  padding: 50px 0;
  display: flex; }

@media only screen and (max-width: 480px) {
  .Frontpage .showcase {
    flex-direction: column;
    height: 100%; } }

.Frontpage .showcase .halfsContainer .bigHalf {
  display: flex;
  flex: 1.5;
  flex-direction: column;
  padding: 0px 50px; }

.Frontpage .showcase .halfsContainer .bigHalf .animalsImageContainer {
  background-image: url("../images/frontpage/Animales.png");
  background-repeat: no-repeat;
  flex-direction: column;
  padding: 10px 50px;
  height: 50vh;
  background-position: 50% 0; }

.textImpronta a {
  color: #337ab7;
  text-decoration: none; }

.textImpronta {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  background-color: #ebebeb !important;
  border-radius: 10px !important;
  width: 300px;
  align-self: center;
  text-align: center;
  margin: 10px 0px; }

.Frontpage .showcase .halfsContainer .smallHalf {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background: #eac80e; }

.Frontpage .showcase .halfsContainer .smallHalf .formTest {
  background: #ebebeb;
  height: 600px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  flex-direction: column;
  padding: 50px; }

.Frontpage .showcase .halfsContainer .smallHalf .formTest input {
  border: none;
  margin: 5px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 0px 10px;
  background: #dfdede; }

.Frontpage .showcase .halfsContainer {
  display: flex;
  width: 100%; }

.Frontpage .transbox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  color: white; }

.Frontpage .transbox * {
  margin: 0; }

.Frontpage .transbox .iconsFront {
  display: flex;
  flex-direction: row;
  align-items: center; }

.Frontpage .transbox .iconsFront div {
  display: flex;
  flex-direction: column; }

.Frontpage .transbox .iconsFront div img {
  align-self: center; }

.Frontpage .transbox .iconsFront div p {
  padding: 0px 30px 0 30px; }

@media only screen and (max-width: 480px) {
  .Frontpage .transbox .iconsFront div p {
    text-align: center; } }

.Frontpage .transbox h1, .Frontpage .transbox h2, .Frontpage .transbox h3, .Frontpage .transbox h4 {
  color: inherit;
  letter-spacing: unset;
  text-align: center; }

.Frontpage .transbox h2, .Frontpage .transbox h3, .Frontpage .transbox h4 {
  font-weight: 300; }

.Frontpage .transbox h1 {
  text-align: center;
  margin: var(--spacing-s) var(--spacing-m); }

.Frontpage .transbox .excerpt {
  margin: var(--spacing-m) 0;
  text-align: center; }

.Frontpage .transbox nav a {
  color: #fff;
  font-family: 'Montserrat' sans-serif;
  font-size: 15px; }

.Frontpage .transbox nav img {
  padding: 0px 0 0 45px;
  margin: -20px 0 0 0; }

@media only screen and (min-width: 768px) {
  .Frontpage .transbox nav {
    display: flex; }
  .Frontpage .transbox nav a {
    width: auto;
    margin: 0 var(--spacing-s) 0 0; }
  .Frontpage .transbox nav a:last-child {
    margin: 0; } }

.Frontpage .transbox .excerpt {
  margin: var(--spacing-l) 0; }

.Frontpage .transbox .excerpt .user-fields {
  display: flex;
  justify-content: space-around; }

@media only screen and (max-width: 480px) {
  .Frontpage .transbox .excerpt .user-fields {
    flex-direction: column; } }

.Frontpage .transbox .excerpt .user-fields input {
  width: 90%;
  border-radius: 3px;
  align-self: center;
  border: none;
  padding: calc(var(--spacing-s)/2) calc(var(--spacing-s));
  margin-bottom: var(--spacing-s); }

.Frontpage .transbox .excerpt .user-fields .valid {
  background: var(--color-verde);
  align-self: center;
  color: white; }

.Frontpage .transbox .excerpt .user-fields .no-matched {
  background: khaki; }

.Frontpage .transbox .excerpt .user-fields .expired {
  background: grey;
  font-style: italic;
  border-bottom: 2px solid crimson; }

.Frontpage .transbox .excerpt .user-fields .expired-txt {
  color: var(--color-amarillo);
  margin-bottom: var(--spacing-s);
  align-self: center; }

.Frontpage .transbox .excerpt .user-fields .gender {
  margin-bottom: var(--spacing-s);
  position: relative;
  display: flex;
  justify-content: flex-end; }

.Frontpage .transbox .excerpt .user-fields .gender span {
  margin-right: 5px; }

.Frontpage .transbox .excerpt .user-fields .gender span:last-child {
  margin: 0; }

.Frontpage .transbox .excerpt .user-fields .gender label {
  display: inline-block;
  color: var(--color-gris);
  padding: 3px 6px;
  background: white;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 0.5rem;
  font-weight: bold;
  cursor: pointer; }

.Frontpage .transbox .excerpt .user-fields .gender input:checked ~ label {
  background: var(--color-verde);
  color: white; }

.Frontpage .transbox .excerpt .user-fields .gender #M, .Frontpage .transbox .excerpt .user-fields .gender #F {
  position: absolute;
  opacity: 0;
  z-index: -1; }

.Frontpage .content-wrapper {
  background: #F1F1F1; }

.Frontpage .pdf-download {
  padding: 0 var(--spacing-s); }

.Frontpage .content-wrapper-top,
.Frontpage .content-wrapper-bottom,
.Frontpage .pdf-download {
  text-align: center;
  margin: var(--spacing-l) 0; }

.Frontpage .grid-container {
  display: grid;
  grid-gap: var(--spacing-s); }

.Frontpage .grid-container .excerpt {
  padding: 0 var(--spacing-m);
  margin-top: var(--spacing-s); }

.Frontpage .grid-container .excerpt h2 {
  font-size: 26px; }

.Frontpage .grid-container .excerpt:first-child {
  padding: var(--spacing-m) var(--spacing-s);
  justify-self: center;
  align-self: center;
  width: 90%;
  background: white; }

.Frontpage .grid-container img {
  margin: 0;
  display: block; }

@media only screen and (min-width: 768px) {
  .Frontpage .grid-container {
    grid-template-columns: 3fr 2fr; }
  .Frontpage .grid-container .pic1 {
    margin-top: var(--spacing-s); } }

@media only screen and (min-width: 960px) {
  .Frontpage .grid-container {
    grid-template-columns: 1fr 1fr; } }

.Intropage .showcase {
  background-image: url("../images/frontpage/intropage-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex; }

.Intropage .transbox {
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  color: white;
  padding: 0 var(--spacing-s) 0 0; }

.Intropage .transbox * {
  margin: 0; }

.Intropage .transbox a {
  align-self: center;
  color: white; }

.Intropage .transbox h1, .Intropage .transbox h2, .Intropage .transbox h3, .Intropage .transbox h4 {
  color: inherit;
  letter-spacing: unset;
  text-align: center; }

.Intropage .transbox h1 {
  display: flex;
  width: 100%;
  align-self: center;
  margin: var(--spacing-s) var(--spacing-m); }

.Intropage .transbox .excerpt {
  margin: var(--spacing-l) 0; }

.Intropage .transbox .excerpt .user-fields {
  display: flex;
  flex-direction: column;
  text-align: center; }

.Intropage .transbox .excerpt .user-fields input {
  display: inline-block;
  width: 60%;
  border-radius: 3px;
  align-self: center;
  border: none;
  padding: calc(var(--spacing-s)/2) calc(var(--spacing-s));
  margin-bottom: var(--spacing-s); }

.Intropage .transbox .excerpt .user-fields .valid {
  background: var(--color-verde);
  align-self: center;
  color: white; }

.Intropage .transbox .excerpt .user-fields .no-matched {
  background: khaki; }

.Intropage .transbox .excerpt .user-fields .expired {
  background: grey;
  font-style: italic;
  border-bottom: 2px solid crimson; }

.Intropage .transbox .excerpt .user-fields .expired-txt {
  color: var(--color-amarillo);
  margin-bottom: var(--spacing-s);
  align-self: center; }

.Intropage .transbox .excerpt .user-fields .gender {
  margin-bottom: var(--spacing-s);
  position: relative;
  display: flex;
  justify-content: flex-end; }

.Intropage .transbox .excerpt .user-fields .gender span {
  margin-right: 5px; }

.Intropage .transbox .excerpt .user-fields .gender span:last-child {
  margin: 0; }

.Intropage .transbox .excerpt .user-fields .gender label {
  display: inline-block;
  color: var(--color-gris);
  padding: 3px 6px;
  background: white;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 0.5rem;
  font-weight: bold;
  cursor: pointer; }

.Intropage .transbox .excerpt .user-fields .gender input:checked ~ label {
  background: var(--color-verde);
  color: white; }

.Intropage .transbox .excerpt .user-fields .gender #M, .Intropage .transbox .excerpt .user-fields .gender #F {
  position: absolute;
  opacity: 0;
  z-index: -1; }

.Intropage .transbox .userInfoContainer {
  display: flex;
  justify-content: center;
  align-self: center; }

.Intropage .transbox .user-extra-fields {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-flow: row wrap;
  justify-content: space-around; }

.Intropage .transbox .user-extra-fields .basicInfo {
  flex-direction: column; }

.Intropage .transbox .user-extra-fields .valid {
  background: var(--color-verde);
  color: white; }

.Intropage .transbox .user-extra-fields .no-matched {
  background: khaki; }

.Intropage .transbox .user-extra-fields .expired {
  background: grey;
  font-style: italic;
  border-bottom: 2px solid crimson; }

.Intropage .transbox .user-extra-fields .expired-txt {
  color: var(--color-amarillo);
  margin-bottom: var(--spacing-s); }

.Intropage .transbox .user-extra-fields .terms {
  display: flex;
  justify-content: center;
  padding-left: 50px;
  text-align: center;
  width: 90%;
  height: 450px;
  overflow: auto;
  max-height: 100vh; }

.Intropage .transbox .termsContainer {
  display: flex;
  flex-direction: column;
  align-content: center; }

.Intropage .transbox .inputRadio {
  align-self: center;
  margin-top: 20px; }

@media only screen and (min-width: 768px) {
  .Intropage .transbox {
    display: flex;
    padding: 0 var(--spacing-l) 0 0; }
  .Intropage .transbox h1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: left; }
  .Intropage .transbox .excerpt .user-fields input {
    display: block;
    width: auto; } }

.Intropage2 .react-date-picker__button {
  background: #fff; }

.Intropage2 .showcase {
  background-image: url("../images/frontpage/joshua-harris-507154-unsplash.jpeg");
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex; }

.Intropage2 .transbox {
  background: rgba(0, 0, 0, 0.6);
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  color: white;
  padding: 0 var(--spacing-s) 0 0; }

.Intropage2 .transbox * {
  margin: 0; }

.Intropage2 .transbox a {
  color: white; }

.Intropage2 .transbox h1, .Intropage2 .transbox h2, .Intropage2 .transbox h3, .Intropage2 .transbox h4 {
  color: inherit;
  letter-spacing: unset;
  text-align: center; }

.Intropage2 .transbox h1 {
  width: 100%;
  text-align: center;
  margin: var(--spacing-s) var(--spacing-m); }

.Intropage2 .transbox .excerpt {
  margin: var(--spacing-l) 0; }

.Intropage2 .transbox .excerpt .user-fields input {
  display: inline-block;
  width: 50%;
  border-radius: 3px;
  justify-content: space-around;
  border: none;
  padding: calc(var(--spacing-s)/2) calc(var(--spacing-s));
  margin-bottom: var(--spacing-s); }

.Intropage2 .transbox .excerpt .user-fields .valid {
  background: var(--color-verde);
  color: white; }

.Intropage2 .transbox .excerpt .user-fields .no-matched {
  background: khaki; }

.Intropage2 .transbox .excerpt .user-fields .expired {
  background: grey;
  font-style: italic;
  border-bottom: 2px solid crimson; }

.Intropage2 .transbox .excerpt .user-fields .expired-txt {
  color: var(--color-amarillo);
  margin-bottom: var(--spacing-s); }

.Intropage2 .transbox .excerpt .user-fields .gender {
  margin-bottom: var(--spacing-s);
  position: relative;
  display: flex;
  justify-content: flex-end; }

.Intropage2 .transbox .excerpt .user-fields .gender span {
  margin-right: 5px; }

.Intropage2 .transbox .excerpt .user-fields .gender span:last-child {
  margin: 0; }

.Intropage2 .transbox .excerpt .user-fields .gender label {
  display: inline-block;
  color: var(--color-gris);
  padding: 3px 6px;
  background: white;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 0.5rem;
  font-weight: bold;
  cursor: pointer; }

.Intropage2 .transbox .excerpt .user-fields .gender input:checked ~ label {
  background: var(--color-verde);
  color: white; }

.Intropage2 .transbox .excerpt .user-fields .gender #M, .Intropage2 .transbox .excerpt .user-fields .gender #F {
  position: absolute;
  opacity: 0;
  z-index: -1; }

.Intropage2 .transbox .userInfoContainer {
  display: flex;
  justify-content: center; }

.Intropage2 .transbox .user-extra-fields {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center; }

.Intropage2 .transbox .user-extra-fields .valid {
  background: var(--color-verde);
  color: white; }

.Intropage2 .transbox .user-extra-fields .no-matched {
  background: khaki; }

.Intropage2 .transbox .user-extra-fields .expired {
  background: grey;
  font-style: italic;
  border-bottom: 2px solid crimson; }

.Intropage2 .transbox .user-extra-fields .expired-txt {
  color: var(--color-amarillo);
  margin-bottom: var(--spacing-s); }

.Intropage2 .transbox .user-extra-fields .basicInfo {
  flex-direction: column;
  align-self: center;
  width: 30%; }

.Intropage2 .transbox .user-extra-fields .terms {
  display: flex;
  justify-content: center;
  text-align: justify;
  text-justify: inter-word;
  align-self: center;
  width: 80%;
  height: 450px;
  overflow: auto;
  max-height: 100vh; }

.Intropage2 .transbox .termsContainer {
  display: flex;
  flex-direction: column;
  align-content: center; }

.Intropage2 .transbox .inputRadio {
  align-self: center;
  margin-top: 20px; }

@media only screen and (max-width: 768px) {
  .Intropage2 .transbox .terms {
    display: flex;
    justify-content: center;
    text-align: justify;
    text-justify: inter-word;
    align-self: center;
    width: 100%;
    height: 450px;
    overflow: auto;
    max-height: 100vh; }
  .Intropage2 .transbox .user-extra-fields {
    display: flex;
    flex-direction: column;
    width: 100%; } }

.Pretest {
  text-align: center; }

.Pretest .counter {
  padding-top: var(--spacing-m);
  border-top: 1px solid grey; }

.Pretest.page1 .circle-container li label {
  display: block;
  border-radius: 50%;
  width: 40px;
  flex-basis: 40px; }

.Pretest.page1 .circle-container li input {
  margin-top: 10px !important; }

.Pretest.page1 .circle-container li:nth-child(1) label {
  background: rgba(255, 0, 0, 0.8); }

.Pretest.page1 .circle-container li:nth-child(2) label {
  background: rgba(255, 128, 0, 0.8); }

.Pretest.page1 .circle-container li:nth-child(3) label {
  background: rgba(255, 255, 0, 0.8); }

.Pretest.page1 .circle-container li:nth-child(4) label {
  background: rgba(128, 255, 0, 0.8); }

.Pretest.page1 .circle-container li:nth-child(5) label {
  background: rgba(0, 255, 0, 0.8); }

.Pretest.page1 .circle-container li:nth-child(6) label {
  background: rgba(0, 255, 80, 0.8); }

.Pretest.page1 .circle-container li:nth-child(7) label {
  background: rgba(0, 255, 255, 0.8); }

.Pretest.page1 .circle-container li:nth-child(8) label {
  background: rgba(0, 128, 255, 0.8); }

.Pretest.page1 .circle-container li:nth-child(9) label {
  background: rgba(0, 0, 255, 0.8); }

.Pretest.page1 .circle-container li:nth-child(10) label {
  background: rgba(128, 0, 255, 0.8); }

.Pretest.page1 .circle-container li:nth-child(11) label {
  background: rgba(255, 0, 255, 0.8); }

.Pretest.page1 .circle-container li:nth-child(12) label {
  background: rgba(255, 0, 128, 0.8); }

.newTextsContainer {
  display: none; }

.App {
  text-align: center; }

@media only screen and (max-width: 768px) {
  .App h1 {
    margin: 100px; }
  .newCircle {
    display: none; }
  .newTextsContainer {
    display: block; } }

.App .circle-wrapper {
  padding-top: 0; }

@media only screen and (max-width: 960px) {
  .Resultados.container {
    padding-top: var(--spacing-m); } }

.Resultados .home-btn {
  justify-content: end;
  font-family: 'Montserrat', sans-serif; }

.Resultados .home-btn svg {
  margin-right: 5px; }

.Resultados .home-btn a {
  color: black;
  font-weight: bold; }

.Resultados > div {
  margin-bottom: var(--spacing-m); }

.Resultados .user-details {
  margin-bottom: var(--spacing-m); }

.Resultados .user-details div:nth-child(1) {
  font-size: 1rem;
  font-weight: bold;
  color: black;
  font-family: 'Montserrat', sans-serif; }

.Resultados .print-wrapper {
  display: flex;
  justify-content: center; }

.Resultados h1 {
  font-size: 36px; }

.Resultados .PreferenciaGlobal .grid-wrapper {
  margin-top: var(--spacing-m);
  margin: var(--spacing-l) 0; }

.Resultados .PreferenciaGlobal .grid-wrapper > div {
  text-align: center; }

@media only screen and (min-width: 768px) {
  .Resultados .PreferenciaGlobal .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 320px; }
  .Resultados .PreferenciaGlobal .grid-wrapper > div {
    text-align: unset; }
  .Resultados .PreferenciaGlobal .grid-wrapper > div * {
    margin: 0; }
  .Resultados .PreferenciaGlobal .grid-wrapper > div:nth-child(1) {
    text-align: right; }
  .Resultados .PreferenciaGlobal .grid-wrapper > div:nth-child(2) {
    align-self: center;
    justify-self: center; }
  .Resultados .PreferenciaGlobal .grid-wrapper > div:nth-child(3) {
    justify-self: center;
    align-self: end; } }

.Resultados .PreferenciaGlobal .grid-wrapper .item #resultNumber {
  font-size: 40px;
  font-weight: bold; }

.Resultados .PreferenciaGlobal .grid-wrapper .item #resultNumberFrontal {
  font-size: 40px;
  font-weight: bold;
  color: var(--color-amarillo); }

.Resultados .PreferenciaGlobal .grid-wrapper .item h2 span {
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: var(--spacing-s); }

.Resultados .PreferenciaGlobal .grid-wrapper .item p span {
  font-size: 15px;
  line-height: 1.4; }

.Resultados .PreferenciaGlobal .grid-wrapper .item:nth-child(1) h2 {
  color: var(--color-amarillo);
  font-family: 'Montserrat', sans-serif; }

.Resultados .PreferenciaGlobal .grid-wrapper .item:nth-child(3) span,
.Resultados .PreferenciaGlobal .grid-wrapper .item:nth-child(3) h2 {
  color: #424242;
  font-family: 'Montserrat', sans-serif; }

.Resultados .PrefenciaCuadrante .grid-wrapper {
  display: grid;
  margin-top: var(--spacing-m); }

.Resultados .PrefenciaCuadrante .grid-wrapper .index-1 {
  grid-row: 1; }

.Resultados .PrefenciaCuadrante .grid-wrapper .index-2 {
  grid-row: 2; }

.Resultados .PrefenciaCuadrante .grid-wrapper .pic {
  grid-row: 3;
  align-self: center;
  justify-self: center;
  padding: var(--spacing-m) 0; }

.Resultados .PrefenciaCuadrante .grid-wrapper .index-3 {
  grid-row: 4; }

.Resultados .PrefenciaCuadrante .grid-wrapper .index-4 {
  grid-row: 5; }

.Resultados .PrefenciaCuadrante .grid-wrapper .item.tierra {
  color: #28a235; }

.Resultados .PrefenciaCuadrante .grid-wrapper .item.fuego {
  color: #dc3d2c; }

.Resultados .PrefenciaCuadrante .grid-wrapper .item.aire {
  color: #F4DE11; }

.Resultados .PrefenciaCuadrante .grid-wrapper .item.agua {
  color: #5476b9; }

.Resultados .PrefenciaCuadrante .grid-wrapper .item * {
  margin: 0; }

.Resultados .PrefenciaCuadrante .grid-wrapper .item h3 {
  margin-bottom: calc(var(--spacing-s)/2);
  color: #424242; }

.Resultados .PrefenciaCuadrante .grid-wrapper .item .excerpt {
  display: flex;
  margin-bottom: var(--spacing-m); }

.Resultados .PrefenciaCuadrante .grid-wrapper .item .excerpt span {
  font-size: 3.6rem;
  line-height: 1;
  font-weight: bold;
  padding-right: var(--spacing-s);
  font-family: 'Montserrat', sans-serif; }

.Resultados .PrefenciaCuadrante .grid-wrapper .item .excerpt p span {
  line-height: 26px;
  font-size: 0.8rem;
  color: #424242;
  font-weight: normal; }

@media only screen and (min-width: 768px) {
  .Resultados .PrefenciaCuadrante .grid-wrapper {
    grid-template-columns: repeat(3, 1fr); }
  .Resultados .PrefenciaCuadrante .grid-wrapper .item {
    grid-row: auto; }
  .Resultados .PrefenciaCuadrante .grid-wrapper .item.pic {
    grid-column: 2;
    grid-row: 1 / span 2; } }

.Resultados #preguntasFinal {
  font-family: 'Montserrat', sans-serif; }

.Resultados .ActividadesComerciales .grid-wrapper {
  display: grid;
  grid-gap: 3rem;
  margin: var(--spacing-xl) 0; }

.Resultados .ActividadesComerciales .grid-wrapper > div * {
  margin: 0; }

.Resultados .ActividadesComerciales .grid-wrapper #brainCuadrant {
  position: absolute;
  display: flex;
  align-self: flex-end;
  margin-top: -70px;
  margin-left: 50px; }

.Resultados .ActividadesComerciales .grid-wrapper .item {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: var(--spacing-m);
  color: white;
  padding: var(--spacing-m); }

.Resultados .ActividadesComerciales .grid-wrapper .item .icon {
  position: absolute;
  width: 100%;
  left: 0;
  top: -60px;
  text-align: center; }

.Resultados .ActividadesComerciales .grid-wrapper .item .icon img {
  height: 60px; }

.Resultados .ActividadesComerciales .grid-wrapper .item h2 {
  font-size: 3.6rem;
  color: inherit;
  line-height: 1.2; }

.Resultados .ActividadesComerciales .grid-wrapper .item p {
  line-height: 26px;
  color: #424242; }

.Resultados .ActividadesComerciales .grid-wrapper .cuadrante1 {
  color: #28a235;
  border: solid 2px;
  border-color: #28a235; }

.Resultados .ActividadesComerciales .grid-wrapper .cuadrante2 {
  border: solid 2px;
  border-color: #dc3d2c;
  color: #dc3d2c; }

.Resultados .ActividadesComerciales .grid-wrapper .cuadrante3 {
  border: solid 2px;
  border-color: #f4de11;
  color: #f4de11; }

.Resultados .ActividadesComerciales .grid-wrapper .cuadrante4 {
  border: solid 2px;
  border-color: #5476b9;
  color: #5476b9; }

@media only screen and (min-width: 768px) {
  .Resultados .ActividadesComerciales .grid-wrapper {
    grid-template-columns: repeat(2, 1fr); } }

.Resultados .SistemaPreferente {
  padding-bottom: var(--spacing-l);
  border-bottom: 1px solid #CCCCCC; }

.Resultados .SistemaPreferente .excerpt {
  margin-bottom: var(--spacing-l); }

@media only screen and (min-width: 768px) {
  .Resultados .SistemaPreferente .excerpt {
    column-count: 2;
    column-gap: var(--spacing-l); } }

.Resultados .ArquetiposAnimales {
  padding-bottom: var(--spacing-l);
  border-bottom: 1px solid #424242; }

.Resultados .ArquetiposAnimales .resultados-animales * {
  font-family: 'Montserrat', sans-serif; }

.Resultados .ArquetiposAnimales .resultados-animales *:before {
  display: block;
  position: absolute;
  top: -16px;
  width: 80px;
  font-size: 0.49rem;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1;
  text-align: center; }

.Resultados .ArquetiposAnimales .resultados-animales * span {
  display: block;
  font-weight: 800;
  font-size: 1rem;
  position: absolute;
  top: -10px;
  width: 80px;
  text-align: center; }

@media only screen and (min-width: 768px) {
  .Resultados .ArquetiposAnimales .resultados-animales *:before {
    width: 100%;
    top: 0;
    left: 0; }
  .Resultados .ArquetiposAnimales .resultados-animales * span {
    width: 100%;
    bottom: 0;
    left: 0;
    top: unset;
    font-size: 13px;
    background: white; }
  .Resultados .ArquetiposAnimales .resultados-animales * label span {
    width: 300px;
    color: #000;
    bottom: inherit;
    left: inherit;
    top: 0;
    background: transparent; } }

.Resultados .ArquetiposAnimales .resultados-animales li {
  opacity: 0.6; }

.Resultados .ArquetiposAnimales .resultados-animales .top {
  opacity: 1; }

.Resultados .ArquetiposAnimales .resultados-animales .top.first {
  color: #ff6d00; }

.Resultados .ArquetiposAnimales .resultados-animales .top.second {
  color: #ffab40; }

.Resultados .ArquetiposAnimales .resultados-animales .top.third {
  color: #ffd180; }

.Resultados .PerfilProfesional {
  padding-bottom: var(--spacing-l);
  border-bottom: 1px solid #CCCCCC; }

.Resultados .PerfilProfesional .grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center; }

.Resultados .PerfilProfesional .grid-wrapper span {
  display: inline-block; }

@media only screen and (min-width: 768px) {
  .Resultados .PerfilProfesional .grid-wrapper span::before {
    width: 130px;
    height: 130px; } }

.Resultados .ArquetiposPrincipal {
  padding-bottom: var(--spacing-l);
  border-bottom: 1px solid #CCCCCC; }

.Resultados .ArquetiposPrincipal .excerpt {
  margin-bottom: var(--spacing-l); }

.Resultados .ArquetiposPrincipal .item {
  margin-bottom: var(--spacing-l); }

.Resultados .ArquetiposPrincipal .item .title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center; }

.Resultados .ArquetiposPrincipal .item img {
  align-self: center; }

.newCircle {
  padding: 300px 0; }

.iconContainer {
  display: flex;
  padding-bottom: 20px; }

.iconContainer div {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  padding: 0 20px;
  text-align: center; }

.termsContainerTest {
  display: flex;
  margin-top: 30px;
  font-weight: 900; }

.termsInput {
  width: auto !important;
  height: 15px !important;
  border-radius: none !important;
  padding: none !important; }

.termsContainerTest a {
  color: #eac80e; }

.termsContainerTest p {
  color: #000;
  font-size: 13px; }
